<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidslotbooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ecommerce.PaymentUsingUpi"></activity>
        <activity android:name=".CartActivity" />
        <activity android:name=".ecommerce.ProductDetails" />
        <activity android:name=".ConfirmSlotBooking" />
        <activity android:name=".walkthrough.Walkthrough" />
        <activity android:name=".UserProfile" />
        <activity android:name=".Helpcenter" />
        <activity android:name=".ecommerce.Products" />
        <activity android:name=".Contactus" />
        <activity android:name=".Aboutus" />
        <activity android:name=".Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>